.main {
    background-color: #221b1b;
    padding-top: 25px;
  
&__container-h1 {
    justify-content: center;
    text-align: center;
    color: green;
}
}
  
  .main__container-h3 {
    color: green;
    justify-content: center;
    text-align: center; }
  
  .main__container img {
    position: relative;
    left: 850px;
  }

